<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage - Jijicart</title>
</head>
<body>
<h1>Welcome to Jijicart!!</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem cum deserunt distinctio incidunt nulla porro quasi quo velit. Id nemo nihil odit omnis qui. Architecto aspernatur earum magnam? Fugiat?</span><span>A adipisci aliquam atque beatae corporis, dolore dolorem eveniet exercitationem expedita illum iste iusto maiores minima mollitia nam nesciunt nulla pariatur quam quia recusandae rerum sequi ullam vero, voluptas voluptatem.</span><span>Ab, ad aliquam at culpa deleniti dolore dolorem ea facilis fugiat illum ipsa ipsum magnam magni maxime minus nesciunt nobis nostrum officia quos reprehenderit sequi sint sit suscipit velit veritatis.</span></p>
<button>Shop Now!</button>


</body>
</html>