<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servioces Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1 class="text-center text-danger">Our Services</h1>
    <a href="{% url 'index' %}">Visit Home</a>
    <a href="{% url 'gallery' %}">Visit Gallery</a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod, nam atque rerum illum quis alias commodi consequuntur quae eos ipsum officia dolore magni amet, velit quia, animi odio sed.
    Ducimus nam ex modi quo suscipit repellendus? Corporis, optio omnis enim doloremque autem dicta quidem repudiandae amet? Perspiciatis porro, in amet aliquam, eaque labore aspernatur consequuntur nemo, ipsum voluptas quo?
    Voluptate consequatur, minima neque quas at dolore nemo suscipit vero ea maxime nostrum vel iusto quia facilis ad iure soluta ipsam laborum molestiae? Doloribus cum nihil, magni in enim beatae.</p>

    <button class="btn btn-outline-primary">Get Started</button>
</body>
</html>